
<div class="container">

 <br>
 <br>

<div class="row m-6">

<div class="col-md-8">

<div class="card text-white" style="max-width: 70rem;">
  <div class="card-body">
    <img src="https://cdn.pixabay.com/photo/2017/03/27/13/00/hands-2178566_960_720.jpg" width=100% alt="Jobs" />
  </div>
</div>
</div>

<div class="col-md-4">
<div class="card text-white" style="max-width: 70rem;">
  <br>
  <br>
  <br>
  <h1>Find the best job </h1>
  <br>
  <br>
  <h1><%=  "Find Jobs here!" %></h1>
    <br>
  <br>
  <br>
  <br>
</div>
</div>

</div>



